{% extends "base.html" %}
{% block content %}
<div class="container py-5 bg-light">
    <h1>Résztvevő hozzáadása {{ event.name }} eseményhez.</h1>
    
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name.label() }} {{ form.name(class="form-control") }} <br> 
            <div>
                {{ form.submit(class="btn btn btn-secondary", type="submit", style="margin: 10px 15px") }}
              </div>
        </div>
    </form>

    
    <ol class="list-group">
        {% for participant in participants %}
            <li class="list-group-item">
                {{ loop.index }}. {{ participant.name }}
                <form method="POST" action="{{ url_for('del_participant') }}" style="display:inline;">
                    <input type="hidden" name="participant_id" value="{{ participant.id }}">
                    <input type="hidden" name="event_id" value="{{ event.id }}">
                    <button type="submit" class="btn btn-danger">Törlés</button>
                </form>
            
        </li>
        {% endfor %}
    </ol>
    {% if participants|length >= 2 %}
    <a href="{{ url_for('list_participants', event_id=event.id) }}" class="btn btn-secondary">Egyéni eredmény hozzáadása</a>

    {% else %}
    <div class="alert alert-warning" role="alert">
      A verseny idításához legalább 2 versenyző szükséges.
    </div>
    {% endif %}
</div>
{% endblock %}



  

    