{% extends "base.html" %}
{% block content %}
<div class="container py-5 bg-light">
  {% if current_user.is_authenticated %}
  <a href="{{ url_for('add_event_step1') }}" class="btn btn btn-secondary">Esemény hozzáadása</a>

    {% if events %}
      <h1>Ezek az eddig létrehozott események:</h1>
      <ul class="list-group">
        {% for event in events %}
          <li class="list-group-item">
            {{ event.name }} - 
            {% if event.event_type == "group_knockout" %}
              Csoportmérkőzések, majd egyeneskiesés
            {% elif event.event_type == "knockout" %}
              Egyeneskiesés
            {% elif event.event_type == "round_robin" %}
              Körmérkőzések
            {% elif event.sport_type == "throwing" %}
              Dobás
            {% elif event.sport_type == "swimming" %}
              Úszás
            {% elif event.sport_type == "running" %}
              Futás
            {% endif %}
            
            <form method="POST" action="{{ url_for('del_event') }}" style="display:inline;" onsubmit="return confirm('Figyelem!\nAz esemény törlésével a hozzátartozó adatok is törölve lesznek.\nA törlés nem visszavonható.\nBiztosan törli?');">
              <input type="hidden" name="event_id" value="{{ event.id }}">
              <a href="{{ url_for('manage_event', event_id=event.id) }}" class="btn btn btn-secondary">Esemény kezelése</a>
              <button type="submit" class="btn btn-danger">Törlés</button>
            </form>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <h1>Még nincs létrehozott esemény.</h1>
    {% endif %}
  {% endif %}
</div>
{% endblock %}


