{% extends "base.html" %}
{% block content %}
<div class="container py-5 bg-light">

    <h1>Csoportok Áttekintése</h1>
    <div class="container-fluid">
        <div style="margin-top: 20px;">
            <a href="{{ url_for('list_of_round_robin_matches', event_id=event.id) }}"
                class="btn btn-secondary">Eredmények</a>
        </div>
        {% for group_name, teams in group_data.items() %}
        <div class="table-responsive">
            <table class="table table-striped table-bordered align-middle text-center">
                <thead class="table-dark">
                    <tr>
                        <th>Csapat</th>
                        <th>M</th>
                        <th>LG</th>
                        <th>KG</th>
                        <th>GK</th>
                        <th>Gy</th>
                        <th>D</th>
                        <th>V</th>
                        <th>P</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{ team.team_name }}</td>
                        <td>{{ team.played_games }}</td>
                        <td>{{ team.scored_goals }}</td>
                        <td>{{ team.conceded_goals }}</td>
                        <td>{{ team.goal_difference }}</td>
                        <td>{{ team.wins }}</td>
                        <td>{{ team.draws }}</td>
                        <td>{{ team.losses }}</td>
                        <td>{{ team.points }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}